*{
    padding: 0;
    margin: 0;
}
body{
   display: flex;
   background-color:#f3eae3;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.container{
    
    display: flex;
    flex-wrap: row;
    
    background-color: hsl(158, 36%, 37%);
    

}
.img1 img{
    width: 272px;
    height: 408px;
}
.content{
    width:  272px;

}